:markdown
  ## Responsibilities

  - Respond to the GitLab community across the following channels in a timely manner: Twitter, Disqus, Facebook, StackOverflow, Reddit, Quora, Google alerts, HackerNews, comments on news stories in the media, [forum.gitlab.com](https://forum.gitlab.com), and more.
  - Engage with the developer community in a way that is direct but friendly and authentic. Be able to carry the tone of the GitLab brand while also giving the proper answers or direction to members of the community.
  - Help update the [social media guidelines](/handbook/marketing/social-media-guidelines/) and GitLab voice as new situations arise.
  - Work with leadership to find a way to track and measure response time across all channels with the ideal response time being under 1 hour for all channels by the end of Q1, 2017.
  - Explore different tools from Zendesk to Mentions to find a way to track all mentions of GitLab across the internet.
  - Don’t be afraid of animated gifs and well-placed humor! We are not robots.
  - Work within the GitLab process to help users report bugs, make feature requests, contact support, and provide feedback to the product.
