.col-md-12.u-margin-top-sm.u-padding-bottom-md.text-center
  %h2.u-text-brand Learn
  %h4 What to expect at GitLab Commit
  .container
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/new-feature.png", alt: "Gitlab talks png" }
          %h3.margin0 Talks
        %p Attend carefully curated sessions and talks presented by GitLab users, contributors, and product team members.
      .col-md-5.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/communication.png", alt: "Gitlab talks png" }
          %h3.margin0 Ask the experts
        %p Join an "Ask the Experts" roundtable to get your questions answered by knowledgeable GitLabbers.
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/access.png", alt: "Gitlab talks png" }
          %h3.margin0 Support
        %p Visit the GitLab Support Lab for 1:1 problem solving and troubleshooting.
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        %h3 Cloud native
        %p Learn how to leverage cloud native technologies like Kubernetes, severless, and multicloud to build and run applications better and faster.
      .col-md-5.text-left
        %h3 DevOps in Action
        %p Take away practical advice and examples of how others have navigated their DevOps transformations. These sessions focus on actions and results rather than high level ideas.
    .row
      .col-md-5.col-md-offset-1.text-left
        %h3 Live coding
        %p These adrenaline-pumped sessions will feature do-ers on stage, live coding, debugging, and hacking. Join along with your laptop or just enjoy the show.
      .col-md-5.text-left
        %h3 Powered by GitLab
        %p Software has eaten the world and we are all better for it. Hear how developers like you are building on GitLab to solve large, world problems from humanitarian crises to space exploration.